div.calendarHolder .clear {
    clear:both;
    height:1px;
    line-height:1px;
    font-size:1px; 
}

div.calendarHolder input {
    width: 100%;
    text-align: center;
}

div.widgetCalendar {
    position: absolute;
    border: 1px solid #888;
    font-size: 10px;
    font-family: arial;
    padding: 3px;
    clear:left;
    width: 100%;
    z-index: 10000000;
    display: none;
    background-color: #FFF;
}

div.widgetCalendar .dayH {
    width: 14%;
    float: left;
    text-align: center;
    padding-top: 1px;
    display: block;
}

div.widgetCalendar .day {
    display: block;
    width: 15px;
    text-align: right;
    color: #000;
    text-decoration: none;
}
div.widgetCalendar .monthTab {
    font-size: 11px;
    margin: 0px 0px 5px 0px;
    width: 50%;
    clear: none;
    float: left;
}
div.widgetCalendar .monthSlide {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
    float: left;
}

div.widgetCalendar .day:hover,
div.widgetCalendar .monthSlide:hover {
    background-color:#d8dfea !important;
    cursor: pointer;
}
div.widgetCalendar .curr {
    font-weight: bolder;
    background-color: #D5D5D5;
}
div.widgetCalendar .nonM {
    color: #eee;
}
div.widgetCalendar .close {
    float:right;
    clear:both;
    padding:1px 5px 2px 5px;
    background-color: #666;
    margin: 0px;
    margin-top:-3px;
    margin-right:-3px;
    color: #fff;
    cursor: pointer;    
}