<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_006_WindowPositionSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_006_WindowPositionSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_006_WindowPositionSave.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>100,0,0,0</value>
            </setting>
        </_006_WindowPositionSave.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_006_WindowPositionSave.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Window Position</value>
            </setting>
        </_006_WindowPositionSave.Properties.Settings>
    </applicationSettings>
</configuration>